.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-sub {
  vertical-align: sub;
}
.vertical-baseline {
  vertical-align: baseline;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-no-shrink {
  flex-shrink: 0;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-items-end {
  align-items: flex-end;
}
.border-box {
  box-sizing: border-box;
}
.no-long,
.no-top {
  top: 0px;
}
.no-long,
.no-bottom {
  bottom: 0px;
}
.no-wide,
.no-left {
  left: 0px;
}
.no-wide,
.no-right {
  right: 0px;
}
.no-border-spacing {
  border-spacing: 0;
}
.no-margin,
.no-margin__top,
.no-margin__long {
  margin-top: 0px;
}
.no-margin,
.no-margin__bottom,
.no-margin__long {
  margin-bottom: 0px;
}
.no-margin,
.no-margin__left,
.no-margin__wide {
  margin-left: 0px;
}
.no-margin,
.no-margin__right,
.no-margin__wide {
  margin-right: 0px;
}
.margin,
.margin__top,
.margin__long {
  margin-top: 1em;
}
.margin,
.margin__bottom,
.margin__long {
  margin-bottom: 1em;
}
.margin,
.margin__left,
.margin__wide {
  margin-left: 1em;
}
.margin,
.margin__right,
.margin__wide {
  margin-right: 1em;
}
.margin--small,
.margin--small__top,
.margin--small__long {
  margin-top: 0.5em;
}
.margin--small,
.margin--small__bottom,
.margin--small__long {
  margin-bottom: 0.5em;
}
.margin--small,
.margin--small__left,
.margin--small__wide {
  margin-left: 0.5em;
}
.margin--small,
.margin--small__right,
.margin--small__wide {
  margin-right: 0.5em;
}
.no-padding,
.no-padding__top,
.no-padding__long {
  padding-top: 0px;
}
.no-padding,
.no-padding__bottom,
.no-padding__long {
  padding-bottom: 0px;
}
.no-padding,
.no-padding__left,
.no-padding__wide {
  padding-left: 0px;
}
.no-padding,
.no-padding__right,
.no-padding__wide {
  padding-right: 0px;
}
.padding,
.padding__top,
.padding__long {
  padding-top: 1em;
}
.padding,
.padding__bottom,
.padding__long {
  padding-bottom: 1em;
}
.padding,
.padding__left,
.padding__wide {
  padding-left: 1em;
}
.padding,
.padding__right,
.padding__wide {
  padding-right: 1em;
}
.padding--small,
.padding--small__top,
.padding--small__long {
  padding-top: 0.5em;
}
.padding--small,
.padding--small__bottom,
.padding--small__long {
  padding-bottom: 0.5em;
}
.padding--small,
.padding--small__left,
.padding--small__wide {
  padding-left: 0.5em;
}
.padding--small,
.padding--small__right,
.padding--small__wide {
  padding-right: 0.5em;
}
.fill,
.fill__long {
  height: 100%;
}
.fill,
.fill__wide {
  width: 100%;
}
.fill--50p,
.fill--50p__long {
  height: 50%;
}
.fill--50p,
.fill--50p__wide {
  width: 50%;
}
.text-inherit-color {
  color: inherit;
}
.feedback-outline-orange:hover,
.feedback-outline-orange:active,
.feedback-outline-orange:focus {
  outline: 1px solid #ffa500;
}
.text-white {
  color: #fff;
}
.back-white {
  background-color: #fff;
}
.text-gray {
  color: rgba(102,102,102,0.9);
}
.back-gray {
  background-color: rgba(102,102,102,0.9);
}
.text-gray--light {
  color: #ddd;
}
.back-gray--light {
  background-color: #ddd;
}
.text-blue--link {
  color: #00e;
}
.back-blue--link {
  background-color: #00e;
}
.clearfix {
  overflow: auto;
}
.pointer {
  cursor: pointer;
}
.no-wrap {
  white-space: nowrap;
}
.no-border {
  border: none;
}
.overflow-auto {
  overflow: auto;
}
.overflow-visible {
  overflow: visible;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 500px) {
  .mq-hide--mobile {
    display: none;
  }
}
.z-index-map {
  z-index: 30;
}
.watermark {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  color: rgba(255,255,255,0.5);
  font-family: Arial;
  font-weight: 800;
  font-size: 2em;
  transition: color 0.25s;
}
.watermark:hover {
  color: #fff;
}
html,
body {
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
}
button {
  cursor: pointer;
}
.button--plain {
  border: none;
  background: none;
}
.button--link {
  border: none;
  background: none;
  color: ;
  text-decoration: underline;
  cursor: pointer;
}
.root,
.app {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  position: relative;
}
.app-body {
  flex-grow: 1;
  position: relative;
}
